/* .main {
  display: grid;
} */
/* .header {
  display: flex;
  justify-content: center;
} */


.App {
  display: grid;
  margin-top: 10px;
}

.App-header {
  display: grid;
  grid-template-columns: [left] 1fr [right];
}


.App-header div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: #000;
}


.roof {
  background-image: url("roof.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: left/right;
  z-index: -1;
}
.overlap {
  border-radius: 25px;
  background: #0059bf;
  position: absolute;
  height: 100px;
  width: 80%;
  top: 450px;
  left: 150px;
}
.white-area {
  background: whitesmoke;
  grid-column: left/right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
