/* .main {
  display: grid;
} */
/* .header {
  display: flex;
  justify-content: center;
} */


.App {
  display: grid;
  margin-top: 10px;
}

.App-header {
  display: grid;
  grid-template-columns: [left] 1fr [right];
}


.App-header header {
  display: flex;
  justify-content: center;
  height: 500px;
  color: #000;
}

.roof {
  background-image: url("roof.jpg");
  filter: contrast(100%);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}



.top-container-padding{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  grid-column: left/right;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  grid-column: 1 / span 12;
}
.logo{
  height: 30px;
  width: 82px;
}
.phone-number{
  color: white;
  font-weight: bold;
}

.mid-nav {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 50px;
}

.mid-nav a{
  color: whitesmoke;
}

.title {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-text{
  color: #fff
}
.subtitle{
  display: flex;
  justify-content: start;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.subtitle-text{
  color: #fff
}

.address-form-div{
  display: flex;
  justify-content: start;
  max-width: 500px;
  height: 50px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 50px;
  background: #fff;
}

input[type=text] {
  width: 70%;
  height: 20px;
  border-left-width: 1px;
  font-size: 16px;
  padding: 12px 20px;
  margin: 8px 0;
  background-image: url('address-icon.png');
  background-size: 35px 40px;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}

button{
  background-color: #017afe;
  color: #fff;
  border-radius: 50px;
  border-color: transparent;
}



.overlap {
  border-radius: 25px;
  background: #0059bf;
  position: absolute;
  margin: 0 auto;
  height: 150px;
  width: 800px;
  top: 430px;
}
.white-area {
  background: whitesmoke;
  grid-column: left/right;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
